.aule-bubble {
  position: fixed;
  font-family: var(--default-font);
  background-color: var(--background-primary);
  border-radius: var(--clickable-icon-radius);
  height: 64px;
  right: 32px;
  bottom: 48px;
}

.aule-bubble > svg {
  --img-size: 64px;
  width: var(--img-size);
  height: var(--img-size);
}
/* conversation view */
.aule-conversation {
	display: grid;
	grid-template-rows: min-content 1fr 4rem;
	height: 100%;
	gap: 0.5rem;
	padding-bottom: 1.5rem;
}

.aule-conversation button:hover {
  cursor: pointer;
  background-color: rgb(var(--ctp-pink));
  color: var(--text-on-accent);
}

.aule-conversation button:active {
	background-color: initial;
	color: initial;
}

/* conversation title */
.aule-title-bar {
	display: grid;
	grid-template-columns: 1fr min-content;
	align-items: center;
}

.aule-title-bar > h2 {
	display: inline-block;
	margin: 0;
}

.aule-title-bar > button {
	height: 100%;
	font-weight: bold;
	--icon-size: 1.6rem;
}

/* conversation messages */
.aule-conversation-history {
	overflow: scroll;
}

.aule-message {

}

/* user input */
.aule-user-input {
	display: grid;
	grid-template-columns: 1fr var(--size-4-18);
	grid-template-rows: 4rem;
	gap: var(--size-4-2);
	
	padding-inline: var(--size-4-4);
	padding-bottom: var(--size-4-12);
}

.aule-user-input > button {
	height: 100%;
	--icon-size: 3rem;
}

