.aule-bubble {
  position: fixed;
  font-family: var(--default-font);
  background-color: var(--background-primary);
  border-radius: var(--clickable-icon-radius);
  height: 64px;
  right: 32px;
  bottom: 48px;
}

.aule-bubble > svg {
  --img-size: 64px;
  width: var(--img-size);
  height: var(--img-size);
}


.aule-input-container {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	display: grid;
	grid-template-columns: 1fr var(--size-4-18);
	grid-template-rows: 4rem;
	gap: var(--size-4-2);
	
	padding: var(--size-4-2);
	padding-bottom: var(--size-4-12);
}

.aule-input-area {
	font-size: 16px;
	font-weight: 600;
}
.aule-input-button {
	height: 100%;
	--icon-size: 3rem;
}

.aule-input-button:hover {
  cursor: pointer;
  background-color: rgb(var(--ctp-pink));
  color: var(--text-on-accent);
}

.aule-input-button:active {
	background-color: initial;
	color: initial;
}

.dialogue-plugin-message {
	border-radius: var(--clickable-icon-radius);
	background-color: var(--background-secondary-alt);
}

/* messages from first dialogue participant */
.dialogue-plugin-message[data-participant-id="1"] {
}

/* messages from second dialogue participant */
.dialogue-plugin-message[data-participant-id="2"] {
}

.dialogue-plugin-message-content {
}

