.aule-bubble {
  position: fixed;
  font-family: var(--default-font);
  background-color: var(--background-primary);
  border-radius: var(--clickable-icon-radius);
  height: 64px;
  right: 32px;
  bottom: 48px;
}

.aule-bubble > svg {
  --img-size: 64px;
  width: var(--img-size);
  height: var(--img-size);
}

.aule-bubble:has(> svg):hover {
  cursor: pointer;
  background-color: rgb(var(--ctp-pink));
  color: var(--text-on-accent);
}
